node_modules/
dist/
build/
.env
.env.*
*.log
*.pyc
__pycache__/
.vscode/
.DS_Store
*.sqlite3
*.db
*.egg-info/
*.lock
venv/
apps/**/node_modules/
apps/**/dist/
apps/**/build/
apps/**/.env
apps/**/__pycache__/
apps/**/venv/
packages/**/node_modules/
packages/**/dist/
packages/**/build/
packages/**/.env
packages/**/__pycache__/
packages/**/venv/